.dhx_sample-container__widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dhx_demo_helper {
    padding: 15px 0 7px 0;
}

.dhx_color-sample {
    width: 200px;
    height: 200px;
    margin: 8px 0;
}