<!DOCTYPE html>
<html>
	<head>
		<!-- meta block -->
		<title>Header - DHTMLX Layout</title>
		<meta name="description" content="Check interactive samples of DHTMLX Layout to explore its configuration and other details.">
		<!-- end meta block -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<script type="text/javascript" src="../../../codebase/suite.js?v=6.4.2"></script>
		<link rel="stylesheet" href="../../../codebase/suite.css?v=6.4.2">
		<link rel="stylesheet" href="../../common/index.css?v=6.4.2">
		<link rel="stylesheet" href="../common/layout.css?v=6.4.2">
		
		<!-- custom sample head -->
	</head>
	<body>
		<header class="dhx_sample-header">
			<div class="dhx_sample-header__main">
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="../../index.html" class="dhx_sample-header-breadcrumbs__link">Suite samples</a>
						</li>
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="../index.html" class="dhx_sample-header-breadcrumbs__link">Layout samples</a>
						</li>
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="./index.html" class="dhx_sample-header-breadcrumbs__link">Configuration</a>
						</li>
						<li class="dhx_sample-header-breadcrumbs__item">
							<span class="dhx_sample-header-breadcrumbs__link">Header</span>
						</li>
					</ul>
				</nav>
				<h1 class="dhx_sample-header__title">
					<div class="dhx_sample-header__content">
						Header.
					</div>
				</h1>
			</div>
</header>
		<section class="dhx_sample-container">
			<div class="dhx_sample-container__widget" id="layout"></div>
		</section>
		<script>
			var layout = new dhx.Layout("layout", {
				css: "dhx_layout-cell--bordered",
				rows: [
					{
						id: "toolbar",
						header: "Header",
						headerIcon: "dxi dxi-dots-horizontal",
						css: "dhx_layout-cell--border_bottom",
						gravity: false,
						height: "80px",
					},
					{
						cols: [
							{
								id: "sidebar",
								header: "Sidebar",
								gravity: false,
								css: "dhx_layout-cell--border_right",
								width: "200px",
								headerHeight: 40
							},
							{
								id: "content",
								header: "Content",
								headerHeight: 60
							},
							{
								id: "rightbar",
								header: "Aside",
								gravity: false,
								css: "dhx_layout-cell--border_left",
								width: "200px",
								headerHeight: 80
							}
						]
					},
					{
						id: "footer",
						header: "Footer",
						css: "dhx_layout-cell--border_top",
						gravity: false,
						height: "80px"
					}
				]
			});
		</script>
	</body>
</html>