<!DOCTYPE html>
<html>
	<head>
		<!-- meta block -->
		<title>Align - DHTMLX Layout</title>
		<meta name="description" content="Check interactive samples of DHTMLX Layout to explore its configuration and other details.">
		<!-- end meta block -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<script type="text/javascript" src="../../../codebase/suite.js?v=6.4.2"></script>
		<link rel="stylesheet" href="../../../codebase/suite.css?v=6.4.2">
		<link rel="stylesheet" href="../../common/index.css?v=6.4.2">
		<link rel="stylesheet" href="../common/layout.css?v=6.4.2">
		
		<!-- custom sample head -->
	</head>
	<body>
		<header class="dhx_sample-header">
			<div class="dhx_sample-header__main">
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="../../index.html" class="dhx_sample-header-breadcrumbs__link">Suite samples</a>
						</li>
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="../index.html" class="dhx_sample-header-breadcrumbs__link">Layout samples</a>
						</li>
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="./index.html" class="dhx_sample-header-breadcrumbs__link">Configuration</a>
						</li>
						<li class="dhx_sample-header-breadcrumbs__item">
							<span class="dhx_sample-header-breadcrumbs__link">Align</span>
						</li>
					</ul>
				</nav>
				<h1 class="dhx_sample-header__title">
					<div class="dhx_sample-header__content">
						Align.
					</div>
				</h1>
			</div>
</header>
		<section>
			<form class="dhx_sample-controls" id="form-controls">
				<label class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
					<input type="radio" checked name="align" id="start" value="start" class="dhx_radiobutton__input">
					<span class="dhx_radiobutton__visual-input"></span>
					<span class="dhx_label">Start </span>
				</label>
				<label class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
					<input type="radio" name="align" id="center" value="center" class="dhx_radiobutton__input">
					<span class="dhx_radiobutton__visual-input"></span>
					<span class="dhx_label">Center</span>
				</label>
				<label class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
					<input type="radio" name="align" id="end" value="end" class="dhx_radiobutton__input">
					<span class="dhx_radiobutton__visual-input"></span>
					<span class="dhx_label">End</span>
				</label>
				<label class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
					<input type="radio" name="align" id="between" value="between" class="dhx_radiobutton__input">
					<span class="dhx_radiobutton__visual-input"></span>
					<span class="dhx_label">Between</span>
				</label>
				<label class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
					<input type="radio" name="align" id="around" value="around" class="dhx_radiobutton__input">
					<span class="dhx_radiobutton__visual-input"></span>
					<span class="dhx_label">Around</span>
				</label>
				<label class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
					<input type="radio" name="align" id="evenly" value="evenly" class="dhx_radiobutton__input">
					<span class="dhx_radiobutton__visual-input"></span>
					<span class="dhx_label">Evenly</span>
				</label>
			</form>
		</section>
		<section class="dhx_sample-container">
			<div class="dhx_sample-container__widget" id="layout"></div>
		</section>
		<script>
			var align = "start";

			function getLayoutConfig(align) {
				return {
					css: "dhx_widget--bordered",
					rows: [
						{
							align: align,
							cols: [
								{
									width: "200px",
									css: "dhx_layout-cell--border_left dhx_layout-cell--border_right",
									gravity: false,
									html: "Horizontal Align"
								},
								{
									width: "200px",
									css: "dhx_layout-cell--border_left dhx_layout-cell--border_right",
									gravity: false,
									html: "Horizontal Align"
								},
								{
									width: "200px",
									css: "dhx_layout-cell--border_left dhx_layout-cell--border_right",
									gravity: false,
									html: "Horizontal Align"
								},
							],
						},
						{
							css: "dhx_layout-cell--border_top",
							align: align,
							rows: [
								{
									css: "dhx_layout-cell--border_top dhx_layout-cell--border_bottom",
									gravity: false,
									html: "Vertical Align"
								},
								{
									css: "dhx_layout-cell--border_top dhx_layout-cell--border_bottom",
									gravity: false,
									html: "Vertical Align"
								},
								{
									css: "dhx_layout-cell--border_top dhx_layout-cell--border_bottom",
									gravity: false,
									html: "Vertical Align"
								}
							]
						}
					]
				}
			}

			var layout = new dhx.Layout("layout", getLayoutConfig(align));
			document.getElementById("form-controls").addEventListener("change", function (e) {
				align = e.target.value;
				if (layout) {
					layout.destructor()
				}
				layout = new dhx.Layout("layout", getLayoutConfig(align));
			});
		</script>
	</body>
</html>