body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
h1,h2,h3,h4,h5 {
	font-weight: 500;
}
[class*="dhx_sample"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
	box-sizing: border-box;
}

.dhx_sample-nav {
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
}
.dhx_sample-nav li {    
	font-size: 14px;
	margin: 10px 0px;
}
.dhx_sample-nav li a {
  color: #0288d1;
  text-decoration: none;
}
.dhx_sample-nav li a:hover {
  color: #12aafd;
}
.dhx_sample-nav li a:visited {
  color: #7b42fd;
  text-decoration: none;
}
.dhx_sample-header {
	background-color: rgba(247, 247, 247, 0);
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
}
.dhx_sample-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	border-bottom: 1px solid #DFDFDF;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
}
.dhx_sample-controls button:not(:last-child) {
	margin-right: 12px;
}
.dhx_sample-header__main {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	background: #2D333F;
	height: 60px;
	font-size: 14px;
}
.dhx_sample-header-breadcrumbs {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center
}
.dhx_sample-header-breadcrumbs__item {
	display: flex;
	align-items: center;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 14px;
	color: #BCC6DC;
}
.dhx_sample-header-breadcrumbs__item:not(:last-child):after {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 8px;
	margin-right: 8px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDcgMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAuMTQ4NDM4IDkuMzI4MTJMMy45NzY1NiA1LjVMMC4xNDg0MzggMS42NzE4OEwxLjMyMDMxIDAuNUw2LjMyMDMxIDUuNUwxLjMyMDMxIDEwLjVMMC4xNDg0MzggOS4zMjgxMloiIGZpbGw9IiM3MTc4ODciLz48L3N2Zz4=);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	color: #717887;
}
.dhx_sample-header-breadcrumbs__item:last-child {
	color: #fff;
}
.dhx_sample-header-breadcrumbs__link {
	text-decoration: none;
	text-transform: capitalize;
	font-family: inherit;
	color: inherit;
	transition: color 0.2s ease;
}
.dhx_sample-header-breadcrumbs__link:hover {
	color: #fff;
}
.dhx_sample-header--vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.dhx_sample-header__title {
	display: inline-block;
	margin: 0;
	
	color: #BCC6DC;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
@media only screen and (max-width: 1440px) {
	.dhx_sample-header__title{
		transform: translate(-20%, -50%);
	}
}

.dhx_sample-header-link {
	text-decoration: none;
	color: #2cabe9;
}
.dhx_sample-header-link:not(:last-child):after {
	content: ",";
	color: #BCC6DC;
}
.dhx_sample-header-link:last-child:after {
	content: ".";
	color: #BCC6DC;
}
.dhx_sample-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1220px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	justify-content: center;
}
.dhx_sample-container__widget {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}

.dhx_sample-container__sidebar {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
	max-width: 350px;
	margin-left: 20px;
	border: 1px solid #DFDFDF;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 600px; 
	padding-left: 10px;
	padding-right: 10px;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	line-height: 1.3;
	overflow-y: auto;
}
.dhx_sample-container__sidebar textarea {
	width: 100%;
	height: 100%;
	border: none;
	
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	line-height: 1.3;
}
.dhx_sample-container__sidebar textarea:focus {
	outline: none;
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
}
/* inputs */
.dhx_sample-input__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 8px;
}
.dhx_sample-label {
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 24px;
	margin: 0 0 0 4px;
	padding: 0 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgba(0,0,0,.7);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.dhx_sample-input {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
  display: block;
  padding: 6px 8px;
  margin: 0;

  font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0,0,0,.7);

  background-color: #f7f7f7;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px 0px 0px 1px #dfdfdf;
          box-shadow: inset 0px 0px 0px 1px #dfdfdf;
  border: 0;
  border-radius: 0;
  outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dhx_sample-input::-webkit-input-placeholder {
	color: rgba(0,0,0,.7);
}
.dhx_sample-input:-ms-input-placeholder {
	color: rgba(0,0,0,.7);
}
.dhx_sample-input::-ms-input-placeholder {
	color: rgba(0,0,0,.7);
}
.dhx_sample-input::placeholder {
	color: rgba(0,0,0,.7);
}
.dhx_sample-input:focus {
	-webkit-box-shadow: inset 0px 0px 0px 1px #67b8e3;
	        box-shadow: inset 0px 0px 0px 1px #67b8e3;
}
.dhx_sample-input:disabled {
	-webkit-box-shadow: 0;
	        box-shadow: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.dhx_sample-input:disabled::-webkit-input-placeholder {
	opacity: 0.8;
}
.dhx_sample-input:disabled:-ms-input-placeholder {
	opacity: 0.8;
}
.dhx_sample-input:disabled::-ms-input-placeholder {
	opacity: 0.8;
}
.dhx_sample-input:disabled::placeholder {
	opacity: 0.8;
}

.dhx_sample-input__wrapper--pl-16{
	padding-left: 16px;
}
.dhx_sample-radio__label {
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	line-height: 24px;
	position: relative;
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 24px;
	margin: 0 0 0 4px;
	padding: 0 8px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgba(0,0,0,.7);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.dhx_sample-radio__input {
	position: absolute;
	width: 0;
	height: 0;
	cursor: none;
	opacity: 0;
}
.dhx_sample-radio__label:before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	position: absolute;
	left: -16px;
	border: solid 2px rgba(0,0,0,.54);
	border-radius: 50%;
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}
.dhx_sample-radio__label:after {
	content: " ";
	display: block;
	width: 8px;
	height: 8px;

	position: absolute;
	top: 8px;
	left: -10px;

	border-radius: 50%;
	background-color: #0288D1;
	opacity: 0;

	will-change: opacity;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.dhx_sample-radio__input:checked ~ .dhx_sample-radio__label:before {
	border-color: #0288D1;
}
.dhx_sample-radio__input:checked ~ .dhx_sample-radio__label:after {
	opacity: 1;
}
/* Buttons */
.dhx_sample-btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    outline: none;
    padding: 6px 16px;
    border-radius: 2px;
    font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		cursor: pointer;
}
.dhx_sample-btn--flat {
    background: #0288d1;
    color: #fff;
}
.dhx_sample-btn--cta {
		background: #0288D1;
		color: #fff;
		border-radius: 32px;
		text-decoration: none;
		text-transform: capitalize;
		transition: background 0.2s ease-in-out;
}
.dhx_sample-btn--cta:hover {
	background: #027abc;
}
.dhx_sample-form-group  {
	padding-bottom: 0;
}
.dhx_sample-dhx_sample-form-group:not(:last-child) {
	margin-right: 24px;
}
/* new checkboxes and radiobatons */
.dhx_form-group:not(:last-child) {
	margin-right: 24px;
}
.dhx_radiobutton__input, .dhx_checkbox__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/* events */
.dhx_sample-event {
	font-family: Roboto,Arial,Tahoma,Verdana,sans-serif;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-top: 0;
	padding: 8px;
	-webkit-animation: fadeIn .8s;
	        animation: fadeIn .8s;
	border: 1px solid #FFF;
	border-radius: 2px;
	background: #F2F2F2;
	word-wrap: break-word;
	white-space: pre-wrap;
}
#timepicker {
	max-width: 268px;
}
@-webkit-keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/* Colorpicker */

.dhx_color-sample{
	border: solid 1px #e4e4e4;
}

.dhx_sample-container--treegrid{
	max-width: 938px;
}

.dhx_sample-nav ol {
	counter-reset:listNumber;
	padding-left: 20px;
}
.dhx_sample-nav ol li:not(.skip) {
    counter-increment:listNumber;
    list-style:none;
}
.dhx_sample-nav ol .skip {
	list-style: none;
	margin: 0;
}
.dhx_sample-nav ol .skip h3{
	margin: 0;
	margin-top: 20px;
	margin-bottom: 10px;
}
.dhx_sample-nav ol li:not(.skip):before {
    content:counter(listNumber) ".";
}