<!DOCTYPE html>
<html lang="en-US">

<head>
	<!-- meta block -->
	<title>Collapsable and resizable Layout - DHTMLX Layout</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<link rel="shortcut icon" href="../common/favicon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="../common/favicon/icon-16.png" sizes="16x16" />
	<link rel="icon" href="../common/favicon/icon-32.png" sizes="32x32" />
	<link rel="icon" href="../common/favicon/icon-48.png" sizes="48x48" />
	<link rel="icon" href="../common/favicon/icon-96.png" sizes="96x96" />
	<link rel="icon" href="../common/favicon/icon-144.png" sizes="144x144" />
	<!-- end meta block -->
	<script type="text/javascript" src="../../codebase/suite.js"></script>
	<link rel="stylesheet" href="../../codebase/suite.css">

	<link rel="stylesheet" href="../common/index.css">
	<!-- custom sample head -->
</head>

<body>
	<header class="dhx_sample-header">
		<div class="dhx_sample-header__main">
			<nav class="dhx_sample-header__breadcrumbs">
				<ul class="dhx_sample-header-breadcrumbs">
								<li class="dhx_sample-header-breadcrumbs__item">
									<a href="../index.html" class="dhx_sample-header-breadcrumbs__link">Back to Suite samples</a>
								</li>
							</ul>
			</nav>
			<h1 class="dhx_sample-header__title">
				<div class="dhx_sample-header__content">
					Collapsable and resizable Layout
				</div>
			</h1>
		</div>
	</header>
	<div id="layout" style="height: calc(100% - 61px);"></div>

	</section>
	<script>
		const layout = new dhx.Layout("layout", {
			type: "line",
			rows: [
				{
					id: "toolbar",
					header: "Header",
					collapsable: true,
					height: "120px",
					resizable: true
				},
				{
					resizable: true,
					cols: [
						{
							id: "sidebar",
							header: "Sidebar",
							collapsable: true,
							width: "200px",
							resizable: true
						},
						{
							id: "content",
							header: "Content",
							resizable: true
						},
						{
							id: "rightbar",
							header: "Aside",
							collapsable: true,
							width: "200px"
						},
					]
				},
				{
					id: "footer",
					header: "Footer",
					collapsable: true,
					height: "120px"
				}
			]
		});
	</script>
</body>

</html>