<!DOCTYPE html>
<html lang="en-US">

<head>
	<!-- meta block -->
	<title>Layout types - DHTMLX Layout</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<link rel="shortcut icon" href="../common/favicon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="../common/favicon/icon-16.png" sizes="16x16" />
	<link rel="icon" href="../common/favicon/icon-32.png" sizes="32x32" />
	<link rel="icon" href="../common/favicon/icon-48.png" sizes="48x48" />
	<link rel="icon" href="../common/favicon/icon-96.png" sizes="96x96" />
	<link rel="icon" href="../common/favicon/icon-144.png" sizes="144x144" />
	<!-- end meta block -->
	<script type="text/javascript" src="../../codebase/suite.js"></script>
	<link rel="stylesheet" href="../../codebase/suite.css">

	<link rel="stylesheet" href="../common/index.css">
	<!-- custom sample head -->
	<style>
		.dhx_layout-cell-content {
			padding: 12px;
		}
	</style>
</head>

<body>
	<header class="dhx_sample-header">
		<div class="dhx_sample-header__main">
			<nav class="dhx_sample-header__breadcrumbs">
				<ul class="dhx_sample-header-breadcrumbs">
								<li class="dhx_sample-header-breadcrumbs__item">
									<a href="../index.html" class="dhx_sample-header-breadcrumbs__link">Back to Suite samples</a>
								</li>
							</ul>
			</nav>
			<h1 class="dhx_sample-header__title">
				<div class="dhx_sample-header__content">
					Layout types
				</div>
			</h1>
		</div>
	</header>
	<form class="dhx_sample-controls">
		<fieldset class="dhx_sample-fieldset">
			<legend>Choose value</legend>
			<label
				class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_form-group dhx_sample-input__wrapper--pl-16">
				<input type="radio" checked name="type" id="space" class="dhx_radiobutton__input">
				<span class="dhx_radiobutton__visual-input"></span>
				<span class="dhx_sample-label">Space</span>
			</label>
			<label
				class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
				<input type="radio" name="type" id="wide" class="dhx_radiobutton__input">
				<span class="dhx_radiobutton__visual-input"></span>
				<span class="dhx_sample-label">Wide</span>
			</label>
			<label
				class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
				<input type="radio" name="type" id="line" class="dhx_radiobutton__input">
				<span class="dhx_radiobutton__visual-input"></span>
				<span class="dhx_sample-label">Line</span>
			</label>
			<label
				class="dhx_form-group dhx_radiobutton dhx_form-group--inline dhx_form-group--no-message-holder dhx_sample-input__wrapper--pl-16">
				<input type="radio" name="type" id="none" class="dhx_radiobutton__input">
				<span class="dhx_radiobutton__visual-input"></span>
				<span class="dhx_sample-label">None</span>
			</label>
		</fieldset>
	</form>

	<div style="height: calc(100% - 121px);" id='layout'>
	</div>
	<script>
		let type = "space";
		let layout;

		function initLayout() {
			if (layout) {
				layout.destructor();
			}
			layout = new dhx.Layout("layout", {
				type: type,
				cols: [
					{
						html: "1"
					},
					{
						html: "2"
					},
					{
						html: "3"
					}
				]
			});
		}

		initLayout();

		document.querySelector(".dhx_sample-controls").addEventListener("change", function (e) {
			type = e.target.id;
			initLayout();
		});
	</script>
</body>

</html>