html,body{
	margin:0;
	padding: 0;
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	font-family: "Roboto",sans-serif;
	align-items: center;
}

.container{
	display: flex;
	flex: 1;
	box-sizing: border-box;
	margin: 20px 0;

	width:620px;
}

.top-rect-block{
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	min-height: 60px;
	border-bottom: 1px solid #DFDFDF;
	background-color: rgba(247,247,247,0);

	justify-content: center;
	align-items: center;
}
.top-rect-block .dhx_btn{
	margin-right: 10px;
}

.buttonsContainer{
	padding: 8px;
}
.buttonsContainer .dhx_btn{
	margin: 4px 0;
}

/* Event sample */
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;

	align-items: stretch;
	padding: 20px;
}

.content{
	display: flex;
	height: 100%;

	align-items: stretch;
}

.right{
	font-family: "Roboto",sans-serif;
	overflow: auto;
	flex: 1 0 auto;
	min-width: 600px;
}

.center{
	min-width: 800px;
}

.eventsContainer{
	height: 100%;
}
.event{
	font-family: "Roboto",sans-serif;
	margin: 8px;
	margin-top: 0;
	padding: 8px;
	animation: fadeIn .8s;
	border: solid 1px #FFF;
	border-radius: 2px;
	background: #F2F2F2;
}
.arguments{
	padding: 4px 0;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
/* end Event sample */

.selectList{
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
	height: 28px;
	color: rgba(0,0,0,.7);
	border: 1px solid #DFDFDF;
	border-radius: 2px;
	background-color: #FFF;
	box-sizing: border-box;
	padding: 4px;
}
.customIconsTitle{
	font-size: 1.3em;
	padding: 4px 0;
}

.radio-group-block{
	display: flex;
}

.text-value{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	display: inline-block;
	color: rgba(0,0,0,.7);
}

.radio-block{
	display: flex;
	margin: 0 0 0 12px;
	cursor: pointer;

	align-items: center;
}

.radio{
	font-size: 24px;
	line-height: 24px;
	position: relative;
	width: 16px;
	height: 16px;
	color: rgba(0,0,0,.54);
	border: solid 2px rgba(0,0,0,.54);
	border-radius: 50%;
}
.checked .radio{
	border: solid 2px #0288D1;
}
.checked .radio:before{
	background: #0288D1;
}
.radio:before{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	content: " ";
	border-radius: 50%;
	background: rgba(0,0,0,.54);
}

.checked .radio{
	color: #0288D1;
}

.radio-label{
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 0 4px;
	color: rgba(0,0,0,.7);
}

/* custom checkbox */
.dhx_demo_checkbox{
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	position: relative;
	display: block;
	display: flex;
	height: 24px;
	margin: 0 0 0 4px;
	padding: 0 5px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	color: rgba(0,0,0,.7);

	align-items: center;
}

.dhx_demo_checkbox input{
	position: absolute;
	width: 0;
	height: 0;
	cursor: pointer;
	opacity: 0;
}

.checkmark{
	position: absolute;
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	border: solid 2px rgba(0,0,0,.54);
	border-radius: 50%;
}

.dhx_demo_checkbox:hover input ~ .checkmark{
	background-color: #CCC;
}

.dhx_demo_checkbox input:checked ~ .checkmark{
	border: solid 2px #0288D1;
}
.dhx_demo_checkbox input:checked ~ .checkmark:before{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	content: " ";
	border-radius: 50%;
	background: #0288D1;
}
/* end custom checkbox */
